:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* height: 100%; */
  min-height: 100vh;
  font-family: "Montserrat";
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.slick-slider {
  overflow: hidden;
}

.slick-slider.slick-program {
  overflow-y: inherit;
  overflow-x: clip;
}

.item-slide-program:hover {
  transform: scale(1);
}
.item-slide-program:hover {
  transform: scaleX(1.2) scaleY(1.2);
  transition: all 0.4s ease-in-out;
  z-index: 999;
  box-shadow: 5px 10px 18px #888888;
}
.slide-program-content {
  opacity: 0;
  visibility: hidden;
}
.item-slide-program:hover .slide-program-content {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out;
}

.slick-program
  .slick-slide.slick-active.slick-current
  .item-slide-program:hover {
  transform-origin: left;
}

@media screen and (max-width: 768px) {
  .slide-program-content {
    opacity: 1;
    visibility: visible;
  }
  .item-slide-program:hover {
    transform: scale(1);
    z-index: 999;
    box-shadow: 5px 10px 18px #888888;
  }
}

.padding-container {
  @apply px-6  md:px-[5%] xl:px-[8%] 2xl:px-[10%];
}

.slide-logo .slick-arrow.slick-prev {
  position: absolute;
  bottom: 0;
  left: 0;
}

.slick-track {
  display: flex;
}

.title-primary {
  font-size: 32px;
  font-weight: 600;
  color: #000000;
}

.border-gradient-count-down {
  border-image-source: linear-gradient(
    28.57deg,
    #ffff00 16.12%,
    #fde605 28.05%,
    #f7a613 53.42%,
    #f15a24 81.2%
  );
}

.navbar-item:hover .navbar-item-child {
  display: block;
}

.navbar-item-child {
  display: none;
}
